@import "../../../variables";

header {
  width: 100%;
  height: 45vh;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/images/bg-mobile-light.jpg");
  .container {
    width: 80%;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    .title {
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.4em;
    }
  }
}

// styles for dark mode
header.dark {
  background-image: url("../../../assets/images/bg-mobile-dark.jpg");
}

// media queries
@media (min-width: $tablet-breakpoint) {
  header {
    background-image: url("../../../assets/images/bg-desktop-light.jpg");
  }

  // styles for dark mode
  header.dark {
    background-image: url("../../../assets/images/bg-desktop-dark.jpg");
  }
}
